@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
font-family: 'Lato', sans-serif;
}

.top-bar{
z-index:2;
position:absolute;
}

.info-button:hover{
transition:all 0.4s;
color:black !important;
}

h1, h2, h3, .display-4{
font-weight:300 !important;
}

.hover-color:hover{
color: black !important;
background-color: #e08709;
transition: all 0.4s;
}

.contact-text{
top:40%;
}

.contact-height{
height:25rem !important;
}

.green-line{
height:0.2rem;
width: 9rem;
background-color:green;
}

.blog-img{
height: 15rem !important;
}

.testimonial{
font-weight:300 !important;
position:relative;
line-height:2.9rem !important;
}

.testimonial::before{
position:absolute;
content:open-quote;
font-weight:900;
font-size:5rem;
left:0.4rem;
top:3.9rem;;
}